{% extends 'base.html' %}

{% block content%}
<h2>List Group Items </h2>
<li class="list-group">
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>
<li class="list-group-item">Bought Juice</li>

</li>
{%endblock content%}