{% extends 'base.html' %}
{% load static %}

{% block content%}
{% include 'partials/messages.html'%}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-10">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Income Summary</a></li>
                  <li class="breadcrumb-item"><a href="#">Summary</a></li>
                  <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
                </ol>
            </nav>
          </div>
          <div class="col-md-2">
              <a href="#" class="btn btn-primary">Summary</a>
          </div>

         <div class="container">
             <div class="row">
                 <div class="col-md-5">
                    <canvas id="myChart" width="200" height="200"></canvas>
                 </div>
                 <div class="col-md-5">
                    <canvas id="mychar2" width="200" height="200"></canvas>
                 </div>
             </div>
         </div>
         

    </div>
    </div>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" crossorigin="anonymous"> </script>
<script src="{% static 'js/income_stats.js' %}"></script>
{%endblock content%}